.footer{
    height: 450px;
    width: 100%;
    margin-top: 10px;
    background-color: black;
}

.footer--links{
    display: flex;
    width: 72%;
    margin: 50px auto;
    padding-top: 30px;
    padding-right: 50px;
    justify-content: space-between;
}

.footer--links ul:last-child{
    margin-right: 130px;
}

.footer--links ul:first-child {
    margin-top: 18px;
}
.footer--link{
    margin-top: 20px;
    font-size: 16px;
}

.footer--links__wrapper{
    padding: 0;
    margin-top: 60px;
    list-style: none;
}

a:-webkit-any-link{
    color: #FFFFFFB3;
    text-decoration-color: #FFFFFFB3;
}


.select-dropdown * {
    position: relative;
    box-sizing: border-box;
    color: #FFFFFFB3;
}

.select-dropdown {
    display: flex;
    position: relative;
    background-color: #111;
    border-radius: 5px;
    width: 120px;
    margin-left: 12%;
}

.select--dropdown__icon{
    margin: 4px 0 0 4px;
}

.select-dropdown select {
    font-size: 1rem;
    font-weight: normal;
    max-width: 100%;
    padding: 8px 24px 8px 10px;
    border: none;
    background-color: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
    appearance: none;
}

.select-dropdown select:active, .select-dropdown select:focus {
    outline: none;
    box-shadow: none;
}

.select-dropdown:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-top: 5px solid #aaa;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}